<!doctype html>
<html lang="pt-PT">
  {{- partial "head.html" . -}} 
  <body
    class="d-flex flex-column min-vh-100 background-image"
    {{ with resources.GetMatch "img/background.*" }}
    style="background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('{{.RelPermalink}}')"
    {{ end }}
  >
    {{- partial "header.html" . -}}

    <main id="content" class="flex-fill">
      <div class="container py-3 py-lg-5">
          {{- block "main" .}} {{- end }}
      </div>
    </main>

    {{- partial "footer.html" . -}}

  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

  </body>
</html>
